# {{ ansible_managed }}

# -*- mode: conf; coding: utf-8  -*-
[uwsgi]

# uWSGI core
# ----------
#
# https://uwsgi-docs.readthedocs.io/en/latest/Options.html#uwsgi-core

# Who will run the code / Hint: in emperor-tyrant mode uid & gid setting will be
# ignored [1].  Mode emperor-tyrant is the default on fedora (/etc/uwsgi.ini).
#
# [1] https://uwsgi-docs.readthedocs.io/en/latest/Emperor.html#tyrant-mode-secure-multi-user-hosting
#
uid = {{ searx_username }}
gid = {{ searx_group }}

# set (python) default encoding UTF-8
env = LANG=C.UTF-8
env = LANGUAGE=C.UTF-8
env = LC_ALL=C.UTF-8

# chdir to specified directory before apps loading
chdir = {{ searx_app_dir }}/searx

# SearXNG configuration (settings.yml)
{% if searx_or_searxng == 'searx' %}
env = SEARX_SETTINGS_PATH={{ searx_config_path }}/settings.yml
{% else %}
env = SEARXNG_SETTINGS_PATH={{ searx_config_path }}/settings.yml
{% endif %}

# disable logging for privacy
# logger = systemd
disable-logging = {{ searx_disable_logging }}

# The right granted on the created socket
chmod-socket = {{ searx_chmod_socket }}

# Plugin to use and interpreter config
single-interpreter = {{ searx_single_interpreter }}

# enable master process
master = {{ searx_master }}

# load apps in each worker instead of the master
lazy-apps = true

# load uWSGI plugins
plugin = {{ searx_plugin }}

# By default the Python plugin does not initialize the GIL.  This means your
# app-generated threads will not run.  If you need threads, remember to enable
# them with enable-threads.  Running uWSGI in multithreading mode (with the
# threads options) will automatically enable threading support. This *strange*
# default behaviour is for performance reasons.
enable-threads = true

{% if searx_or_searxng == 'searx' %}
# Number of workers (usually CPU count)
workers = {{ searx_workers }}
threads = ${UWSGI_THREADS:-4}
{% endif %}

# plugin: python
# --------------
#
# https://uwsgi-docs.readthedocs.io/en/latest/Options.html#plugin-python

# load a WSGI module
module = {{ searx_module }}

# set PYTHONHOME/virtualenv
virtualenv = {{ searx_userhome }}/searx-pyenv/

# add directory (or glob) to pythonpath
pythonpath = {{ searx_app_dir }}


# speak to upstream
# -----------------

# https://uwsgi-docs.readthedocs.io/en/latest/Options.html#plugin-http
# Native HTTP support: https://uwsgi-docs.readthedocs.io/en/latest/HTTP.html

{% if searx_or_searxng == 'searx' and searx_filtron == 'true' %}
# Filtron
http-socket = {{ searx_host_listen }}
{% elif searx_socket is defined %}
socket = {{ searx_socket }}
{% else %}
http = {{ searx_host_listen }}
{% endif %}
buffer-size = 8192

{% if searx_or_searxng == 'searxng' %}
# uWSGI serves the static files and in settings.yml we use::
#
#   ui:
#     static_use_hash: true
#
#static-map = /static={{ searx_app_dir }}/searx/static
# expires set to one year since there are hashes
static-expires = /* 31557600
static-gzip-all = True
offload-threads = %k
{% endif %}

# Cache
{% if searx_or_searxng == 'searx' %}
cache2 = name=searxcache,items=2000,blocks=2000,blocksize=4096,bitmap=1
{% else %}
cache2 = name=searxngcache,items=2000,blocks=2000,blocksize=4096,bitmap=1
{% endif %}
