[Unit]
Description=Filtering searx to fight abuse
Documentation=https://github.com/asciimoo/filtron
Requires=network.target
After=network.target

[Service]
Type=forking
User=filtron
PIDFILE=/var/run/filtron.pid
RemainAfterExit=yes
WorkingDirectory={{ searx_filtron_home }}
ExecStart={{ searx_filtron_home }}/start_filtron.sh
ExecStop=killall filtron
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
